################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/config/applicationhost.config
/HosPro/bin
/HosPro/obj
/HosPro/Properties/PublishProfiles/HosPro.pubxml.user
/HosPro/Properties/PublishProfiles/HosPro.pubxml
/HosPro/HosPro.csproj.user
/packages
